* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
}

.container {
  padding: 1rem;
}

.inner-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem;
  border-radius: 1rem;
}
